body {
	background-color: gray;
}
.fitlight-buy-button, .fitlight-hamburger, .fitlight-logo {
	z-index: 2;
}
.hero-background {
    background-image: url(../images/Like_A_Pro_Equipment.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
#background-image {
    margin-bottom: 50px;
}
.fitlight-logo {
    text-align: center;
}
.justify-content-right {
    justify-content: flex-end !important;
}
.section-one {
	height: 100%;
	width: 100%;
}
.fitlight-buy-button a {
	text-decoration: none;
	background: #1e75ba;
	color: white;
	font-weight: bold;
	padding: 8px 13px;
}
.fitlight-logo img {
	width: 120px;
}
section#fitlight-mobile-header {
	background: #3e3c3c;
	padding: 10px 0;
}
.fitlight-hamburger i {
	color: white;
}
.hambuger-menu-content {
	left: -100%;
	background: white;
	height: 100%;
	width: 100%;
	top: 0;
	z-index: 909;
	position: absolute !important;
	transition: 0.7s;
}
.hambuger-menu-content ul li {
	list-style: none;
	width: 100%;
	padding-top: 11px;
	font-size: 18px;
	font-weight: bold;
}
.hambuger-menu-content ul {
	padding: 0 !important;
}
ul.fitlight-main-menu {
	padding-top: 35px !important;
}
.fitlight-hamburger-close {
	position: absolute;
	top: 10px;
	right: 20px;
}
.fitlight-main-menu hr {
	margin-bottom: 0 !important;
}
.hambuger-menu-content-isActive {
	left: 0% !important;
}
.color-white {
	color: white;
}
.section-one-description p {
	font-size: 39px;
	font-weight: bold;
}
.section-one-buttons a {
	text-decoration: none;
	border: 2px solid white;
	margin-top: 10px;
	width: 50%;
	color: white;
	font-weight: bold;
	padding: 8px;
}
.section-one-title {
	padding-top: 30px;
}
.dark_background_overlay {
	position: fixed;
    width: 100%;
    background: #0f032e40;;
    height: 100%;
}
.section-one-main-content {
	position: relative;
}

/* video background */
* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
	top: 0;
	color: #fff;
}
.vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}
.d-flex{
	align-items: center;
}
.second_row_content {
    width: 100% !important;
}
.second_row_content h1{
	font-weight: 900 !important;
}
